<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @interface.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interface.name %>
</p>

<%= link_to 'Edit', edit_interface_path(@interface) %> |
<%= link_to 'Back', interfaces_path %>
